{% extends 'base.html' %}
{% load staticfiles %}


{% block page %}
<div class="row banner">
    <div class="col-md-12">

        <img src=" {% static 'img/giftshop.png' %}" alt="">

    </div>
</div>


<div class="row">
    {% for p in products %}
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <img src="{{ MEDIA_URL }}{{ p.photo }}" alt="">
            <div class="caption">
                <h4 class="pull-right">{{ p.price }}</h4>
               <h4><a href="{% url 'product_detail' p.id %}">{{ p.name }}</a></h4>
                <p>{{ p.detail }}</p>
            </div>
        </div>
    </div>
    {% endfor %}





</div>
{% endblock %}